body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
    background-color: beige;

}

 img {
    
        height: 125px;
        width: 100px;
        margin-right: 10px;
    }

    .header {

        height: 125px;
        width: 400px;
        margin-right: 10px;
    }
header {
    display: flex;
    height: 70px;
    background-color:#c6def7;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
    


    .nombre {

        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    
    .tit {
         font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
    
    .txt {

        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
   
